<!--mdb-card>
    <mdb-card-body>
      <mdb-card-title>
        <h4>Iniciar sesión</h4>
      </mdb-card-title>
      <form>
        <div class="md-form form-sm">
          <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
          <input mdbInput mdbValidate formControlName="emailFormEx" minLength="8" maxLength="25" type="email" id="form9"
            class="form-control form-control-sm">
          <label for="form1" class="">Correo</label>
        </div>
        <div class="md-form">
          <mdb-icon fas icon="lock" class="prefix"></mdb-icon>
          <input mdbInput mdbValidate formControlName="passwordFormEx" minLength="10" maxLength="25" type="password"
            class="form-control" id="form10">
          <label for="form10">contraseña</label>
        </div>
        <a href="#" mdbBtn color="primary" mdbWavesEffect>INICIAR</a>
      </form>
    </mdb-card-body>
  </mdb-card-->

<div class="container login-container center-block">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h3>Login Form 1</h3>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Email *" value="" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Your Password *" value="" />
            </div>
            <div class="form-group">
                <input type="submit" class="btnSubmit" value="Login" />
            </div>
            <div class="form-group">
                <a href="#" class="btnForgetPwd">Forget Password?</a>
            </div>

        </div>

    </div>
</div>